/*栅格宽度*/
$grid-gutter-width:         30px !default;
/*系统头高度*/
$header-height:             60px !default;
/*左菜单的宽度*/
$left-menu-bar-width:       200px !default;
/*盒模型组成模式*/
$box-sizing:                border-box !default;
/*首要颜色*/
$primary-color:             #41b883 !default;
/*边框颜色*/
$border-color:              #D9DADC !default;
/*主背景色*/
$main-background-color:     #fff !default;
/*浅色*/
$dark-white:                #F9FAFC !default;
/*字体颜色*/
$font-color:                #222 !default;
/*浅字体颜色*/
$font-color-light:          #8D8D8D !default;


/*屏幕宽度参数*/
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

/*容器宽度*/
$container-sm:               (720px + $grid-gutter-width) !default;
$container-md:               (940px + $grid-gutter-width) !default;
$container-lg:               (1140px + $grid-gutter-width) !default;





