/*栅格宽度*/
$grid-gutter-width:         30px !default;
/*系统头高度*/
$header-height:             60px !default;
/*左菜单的宽度*/
$left-menu-bar-width:       200px !default;
/*盒模型组成模式*/
$box-sizing:                border-box !default;
/*首要颜色*/
$primary-color:             #41b883 !default;
/*辅助颜色*/
$success-color:             #13CE66 !default;
$info-color:                #20A0FF !default;
$warning-color:             #F7BA2A !default;
$danger-color:              #FF4949 !default;
$muted-color:               #8D8D8D !default;

/*边框颜色*/
$border-color:              #e9e9e9 !default;
/*主背景色*/
$main-background-color:     #fff !default;
/*辅助背景色*/
$success-bg-color:          #13CE66 !default;
$info-bg-color:             #20A0FF !default;
$warning-bg-color:          #F7BA2A !default;
$danger-bg-color:           #FF4949 !default;
$primary-bg-color:          #41b883 !default;
/*浅色*/
$dark-white:                #F9FAFC !default;
/*字体颜色*/
$font-color:                #222 !default;
/*浅字体颜色*/
$font-color-light:          #8D8D8D !default;
/*内容水平方向padding*/
$context-x-padding:         30px;
/*内容垂直方向padding*/
$context-y-padding:         20px;
/*内容头水平方向padding*/
$context-header-x-padding:  20px;
/*内容头垂直方向padding*/
$context-header-y-padding:  12px;




/*屏幕宽度参数*/
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;

/*容器宽度*/
$container-sm:               (720px + $grid-gutter-width) !default;
$container-md:               (940px + $grid-gutter-width) !default;
$container-lg:               (1140px + $grid-gutter-width) !default;





